<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.innovation.neha.tracklocation">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.FusedActivity" />
        <activity android:name=".Activities.DemoActivity" />

        <service android:name=".Services.TrackLocService" />
        <service android:name=".Services.SendBroadcastService"/>

        <activity android:name=".Activities.PlaceOrderActivity" />
        <activity android:name=".Activities.HistoryActivity" />
        <activity android:name=".Activities.FrontActivity" />
        <activity android:name=".Activities.NewVisitActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.AddCustomerActivity" />
        <activity android:name=".Activities.CustHistoryActivity"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCguqQM-ahVtJLzj4e67FR8vqxUqmnLJDo" />



        <receiver android:name=".Broadcasts.CheckLocation">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <!--<action android:name="LocCheckService"/>-->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
       <!-- <receiver android:name=".Broadcasts.CheckInternet">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>-->


    </application>

</manifest>